<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Bookmark App</title>
  <link rel="stylesheet" href="/style.css">
  <link href='https://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400,400italic,700,700italic,800' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
  <a href="/bookmarks" id="logo">
    <h1>Bookmark App</h1>
  </a>
</header>
  <nav>
    <ul>
      <li><a href="/bookmarks">View All Bookmarks</a></li>
      <li><a href="/bookmarks/new">New Bookmark</a></li>
    </ul>
  </nav>
</header>

<%=yield %>

</body>
</html>
